@use "~src/styles/mixins" as m;

:host {
  display: block;
  min-height: 100%;

  @include m.darkModeTransition(background-color, color);

  &.dark {
    background-color: #000;
    color: white;
  }


}
